<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{% block windowtitle %}{{ SITENAME }}{% endblock %}</title>
	<meta name="description" content="">
	<meta name="author" content="{{ AUTHOR }}">
	<link rel="icon" href="{{ SITEURL }}/static/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="{{ SITEURL }}/static/favicon.ico" type="image/x-icon"> 

	<!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
	<!--[if lt IE 9]>
		<script src="{{ SITEURL }}/theme/html5.js"></script>
	<![endif]-->

	<!-- Le styles -->
	<link href="{{ SITEURL }}/theme/bootstrap.min.css" rel="stylesheet">
	<link href="{{ SITEURL }}/theme/local.css" rel="stylesheet">
	<link href="{{ SITEURL }}/theme/css/font-awesome.css" rel="stylesheet">
	<link href="{{ SITEURL }}/theme/pygments.css" rel="stylesheet">
	<style type="text/css">

      .sidebar-nav {
        padding: 9px 0;
      }
      .tag-1 {
        font-size: 13pt;
      }
      .tag-2 {
        font-size: 10pt;
      }
      .tag-2 {
        font-size: 8pt;
      }
      .tag-4 {
        font-size: 6pt;
     }
    </style>
	{% include "disqus.html" %}
</head>
<body>
	{% include "facebook.html" %}
	<div class="topbar">
	  <div class="topbar-inner">
		<div class="container-fluid">
		  <a class="brand" href="{{ SITEURL }}/index.html">{{ SITENAME }}</a>
			<ul class="nav">
				{% for title, link in MENUITEMS %}
					<li><a href="{{ link }}">{{ title }}</a></li>
				{% endfor %}
				{% if DISPLAY_PAGES_ON_MENU %}
					{% for page in PAGES %}
						<li><a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a></li>
					{% endfor %}
				{% endif %}
				{% for cat, null in categories %}
					<li {% if cat == category %}class="active"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
				{% endfor %}
			</ul>
			<p class="pull-right"><a href="{{ SITEURL }}/archives.html">[archives]</a> <a href="{{ SITEURL }}/tags.html">[tags]</a></p>
		</div>
	  </div>
	</div>

	<div class="container-fluid">
	  <div class="sidebar">
		<div class="well">
		    {% if LINKS %}
			<h3>Blogroll</h3>
			<ul>
				{% for name, link in LINKS %}
				<li><a href="{{ link }}">{{ name }}</a></li>
				{% endfor %}
			</ul>
			{% endif %}
			{% if SOCIAL %}
			<div class="social">
			<h3>Social</h3>
			<ul>
				{% for name, link in SOCIAL %}
				<li><a href="{{ link }}">{{ name }}</a></li>
				{% endfor %}
			</ul>
			</div>
			{% endif %}

            <h4><i class="icon-tags icon-large"></i>Tags</h4>
            <ul>
            {% for tag in tag_cloud %}
                <li class="tag-{{ tag.1 }}">
                    <a href="{{ SITEURL }}/{{ tag.0.url }}">
                        <i class="icon-tag icon-large"></i>{{ tag.0 }}
                    </a>
                </li>
            {% endfor %}
            </ul>
			
		</div>
	  </div>
	  <div class="content">
			{% block indextitle %}<div class="page-header"><h1>{% block title %} {{ self.windowtitle() }} {% endblock %}</h1></div>{% endblock %}
			{% block content %}{% endblock %}
		<footer>
		  <p> Powered by <a href="http://getpelican.com">Pelican</a>, theme based on <a href="http://twitter.github.com/bootstrap/">Bootstrap, from Twitter</a>.</p>
		  <p>&copy; {{ AUTHOR }} 2012</p>
		  <a title="Real Time Web Analytics" href="http://getclicky.com/{{CLICKY_SITE_ID}}"><img alt="Real Time Web Analytics" src="//static.getclicky.com/media/links/badge.gif" border="0" /></a>
		</footer>
	  </div>

	</div>
<div class="container-fluid">
{% include "analytics.html" %}
</div>
</body>
</html>
